/*!
 * Start Bootstrap - Blog Post HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.5.4/bootstrap-select.min.css);

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    background: #edeef0;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: -1px;
    color: #434343;
}

footer {
    margin: 50px 0;
}

.navbar-nav > li {
    float: left;
    border-right: 1px solid #838890;
    height: 50px;
    line-height: 50px;
    display: inline-block;
}

.navbar-nav > li > a {
    color: #ddd;
    padding: 0 21px; 
    height: 50px;
    line-height: 50px;
    width: 100px;
    padding: 0 21px;
    text-align: center;
}
.navbar-nav > li:hover > a {
       color: #c74953;
}
.navbar-nav > li > a:hover {
       color: #c74953;
}
.navbar-inverse{
    background: #fff;
    border-bottom: 2px solid #3C4952;
    height: 50px;
    width: 100%;
}

.search-container {
    background: #fff;
    border: 1px solid #b9bbbd;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    padding: 8px 15px;
}

.search-container > h2 {
    color: #434343;
    margin-top: 6px;
    font-size: 26px;
    font-weight: 600;
}

input[type=checkbox]:checked + label:before {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 15px;
    color: #f3f3f3;
    text-align: center;
    line-height: 15px;
}

.separator {
    height: 1px;
    background: #b4b6b9;
    position: relative;
    margin: 10px 0 25px;
}
.separator:after {
    content: "";
    background: #b4b6b9;
    width: 200px;
    height: 4px;
    position: absolute;
}

.stat-container {
    padding-top: 3px;
    margin-bottom: 22px;
    overflow: hidden;
}

.stat-container .title {
    font-size: 23px;
    margin-bottom: 4px;
    margin-top: 1px;
}

.stat-container .title > h2 {
    font-size: 26px;
    font-weight: 600;
}
.stat-container .stat-counter {
    font-size: 25px;
    font-weight: 600;
}
